
span {
  font-size: 30px;
}
h3 {
  color: rgb(255, 255, 255);
}
.container-fluid {
  /* background: url("../assets/background.jpg");
  position: absolute;
  background-repeat: round;
  padding: 0; */
  /* background-size: cover; */

  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  /* -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); */
  height: 100%;
  width: 100%;
}
.bg-image{
  background: url("../assets/background.jpg");
  /* filter: blur(10px); */
  position: absolute;
  background-repeat: round;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: block;
  padding: 0;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); 
}
.row-fluid{
  position: absolute;
  /* left: 0;
  right: 0; */
  z-index: 9999;
  /* margin-left: 20px;
  margin-right: 20px; */
  width: 100%;
  height: 100%;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  /* filter:blur(0px); */
  vertical-align: middle;
  display: table;
}
.content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.centering {
  float:none;
  margin:auto auto;
  position: relative;
  top: 0;
  width: 75%;
  height: 75%;
  margin-top: 5%;
  border: 10px solid #C4D9DC;
  border-radius: 30px;
  background-color: #C4D9DC;
}

.left{
  background: url("../assets/starWars2.jpeg");
  /* border: 10px solid #C4D9DC; */
  border-radius: 30px;
  background-repeat: round;
    background-size: cover;
    background-position: top;
}

.invalid-feedback {
  font-size: 15px;
}
.form-control,
.is-invalid {
  background-image: unset;
  max-width: 25%;
}
.btn-primary {
  background-color: #0c7ab9;
  max-width: 10%;
  border-radius: 10px;
  margin-left: 50px;
}

app-root {
  height: 100%;
  width: 100%;
}